@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.board-heading {
  font-size: 2.25rem;
  font-weight: 700;
  color: #5a67d8;
  line-height: 1.25;
  margin: 1.5rem;
}
.green-color {
  color:green;
  width: 30px;
}
