<div class=" flex justify-between items-center bg-green-500 mb-5 px-3">
  <div class=" flex gap-5 justify-between items-center">
    <img src="assets/images/logo.png" alt="app-logo" width="30" height="30">
    <a class="nav-item nav-link text-white text-3xl" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">PMA</a>
  </div>
  <select
    [(ngModel)]="selectedLanguage" (ngModelChange)="switchLanguage(selectedLanguage)"
     class="block mt-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:ring focus:ring-opacity-50 focus:ring-blue-300 focus:border-blue-300">
    <option value="en" class="text-gray-900">English</option>
    <option value="ru" class="text-gray-900">Russian</option>
  </select>
    <nav >
      <div class="flex items-center justify-end text-lg gap-3 h-16">
        <div class="flex gap-7 items-center">
          <a *ngIf="!user" class="nav-item nav-link text-white" routerLink="/auth/login" routerLinkActive="active">{{ 'LOG IN' | translate }}</a>
          <a *ngIf="!user" class="nav-item nav-link text-white" routerLink="/auth/signup" routerLinkActive="active">{{ 'SIGN UP' | translate }}</a>
          <a *ngIf="user" class="nav-item nav-link text-white" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'HOME' | translate }}</a>
          <a *ngIf="user" class="nav-item nav-link text-white" routerLink="/boards/add" routerLinkActive="active">{{ 'CREATE BOARD' | translate }}</a>
          <a *ngIf="user" class="nav-item nav-link text-white" routerLink="/profile" routerLinkActive="active">{{ 'EDIT PROFILE' | translate }}</a>
         </div>
         <button *ngIf="user" class="mat-nav-list text-white" (click)="logout()">{{ 'LOG OUT' | translate }}</button>
       </div>
     </nav>
</div>
