<nav class="bg-green-500 px-3">
  <div class="flex items-center justify-between h-16">
    <div class="flex gap-7 items-center">
      <a *ngIf="!user" class="nav-item nav-link text-white" routerLink="/auth/login" routerLinkActive="active">Log in</a>
      <a *ngIf="!user" class="nav-item nav-link text-white" routerLink="/auth/signup" routerLinkActive="active">Sign up</a>
      <a *ngIf="user" class="nav-item nav-link text-white" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a *ngIf="user" class="nav-item nav-link text-white" routerLink="/profile" routerLinkActive="active">Edit profile</a>
      <a *ngIf="user" class="nav-item nav-link text-white" routerLink="/board" routerLinkActive="active">Create board</a>
    </div>
    <button *ngIf="user" class="mat-nav-list text-white" (click)="logout()">Logout</button>
  </div>
</nav>
