<footer class="flex w-full justify-between bg-green-400 text-white py-4 px-6  fixed bottom-0 drop-shadow-md">
  <div class="flex gap-2">
    <img ngSrc="./assets/images/github-logo.png" alt="github logo" width="30" height="30">
    <a href="https://github.com/KatsiarynaMizhuryna" target="_blank">
      <p class="text-gray-900">KatsiarynaMizhuryna</p>
    </a>
  </div>
  <a class="anchor" href="https://rs.school/js-en/">
    <img ngSrc="./assets/images/rs_school_js.svg" alt="RSSchool logo" width="73" height="26">
  </a>
  <div class="font-bold text-gray-900">© 2023</div>
</footer>
