<div class="fixed bg-gray-300 bg-opacity-50 inset-0 flex items-center justify-center">
  <div class="bg-white overlay p-6 rounded-lg shadow-md">
    <div mat-dialog-content class="text-gray-800">
      <h3 class="text-gray-800">{{ editData.question }}</h3>
      <div class="flex flex-col" [formGroup]="taskForm">
        <mat-form-field >
          <mat-label>{{ 'EDIT TITLE' | translate }}</mat-label>
          <input matInput formControlName="title" required>
          <mat-error *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched">
            {{ 'VALID TITLE' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field >
          <mat-label>{{ 'EDIT DESCRIPTION' | translate }}</mat-label>
          <input matInput formControlName="description" required>
          <mat-error *ngIf="taskForm.controls['description'].invalid && taskForm.controls['description'].touched">
            {{ 'VALID DESCRIPTION' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="flex text-center">
      <button mat-button color="primary"
              class="bg-green-500 hover:bg-green-700 text-white font-semi-bold py-2 px-4 rounded"
              [mat-dialog-close]="taskForm.value"
              [disabled]="taskForm.invalid">
        {{ 'CONFIRM' | translate }}
      </button>
      <button mat-button (click)="onNoClick()">{{ 'CANCEL' | translate }}</button>
    </div>
  </div>
</div>




