<div class="flex justify-between items-start mb-2">
  <div  *ngIf="!editing" class="mt-1">{{ item.text }}</div>
  <div>
  <button mat-icon-button  (click)="editTask()">
    <mat-icon>edit</mat-icon> </button>
  <button mat-icon-button  (click)="onCardDelete(item.id)">
    <mat-icon>delete</mat-icon>
  </button>
  </div>
</div>
<div *ngIf="editing">
  <mat-form-field class="w-1/2" appearance="fill">
    <input matInput [(ngModel)]="editedText">
  </mat-form-field>
  <button mat-icon-button (click)="saveTask()"><mat-icon>done</mat-icon></button>
  <button mat-icon-button (click)="cancelEdit()"><mat-icon>cancel</mat-icon></button>
</div>
<div *ngIf="open">
  <ng-content></ng-content>
</div>


