<div class="grid grid-cols-3 gap-4 mt-20 ml-20 mr-20">

  <div class="col-span-1 bg-blue-500 p-4 rounded" >
    <h2 class="text-center text-white font-bold text-4xl ">Streamline Your Task Management Process</h2>
    <p class="text-white">With a project management application, users can prioritize tasks
      that need to be completed first and avoid less important  tasks</p>
  </div>


  <div class="col-span-1 bg-green-500 p-4 rounded">
    <h2 class="text-center  text-white font-bold text-xl mb-10">Unlock the World of Web Design with our Frontend Course!</h2>
    <p class="text-white">Step into the world of modern web design
      and master the art of crafting eye-catching interfaces.
      Learn how to bring your creative ideas to life using
      the latest technologies like HTML, CSS, JavaScript, Typescript and Angular.
      </p>
  </div>


  <div class="col-span-1 bg-red-500 p-4 rounded justify-center">
    <h2 class="text-white font-bold text-xl text-center">About The Developer</h2>
    <a class="flex justify-center mb-3" href="https://github.com/KatsiarynaMizhuryna" target="_blank">
      <img src="./assets/images/git-logo.ico" alt="github logo" width="30" height="30">
    </a>
    <p class="text-white">I am a beginner Front-end developer and willing to become a part of a friendly and professional team, in which
      I could improve my knowledge and skills and contribute to various challenging enterprise projects.</p>
  </div>
</div>
