<h2 class="board-heading text-center">{{ 'SELECTED' | translate }}: {{boardId}} </h2>
<div class="flex gap-6 justify-center">
  <button mat-icon-button [routerLink]="'/main-route'" >
  <mat-icon class="green-color" >arrow_back</mat-icon>
</button>
  <app-add-new-element-dialog (emitText)="addColumn($event)" [question]="('ADD NEW COLUMN' | translate)">
<button class="bg-gradient-to-r from-green-400 to-blue-500
        shadow-lg hover:shadow-xl transition-shadow duration-300 text-white font-semi-bold ml-5
         py-2 px-4 rounded mb-2 md:mb-0 md:mr-2">
  <span class="animate-spin  inline-block h-4  mr-2 border-t-2 border-b-2 border-white"></span>
  {{ 'ADD COLUMN' | translate }}
</button>
</app-add-new-element-dialog>
</div>
<div class="flex gap-3 m-6  rounded shadow-sm">
  <div *ngFor="let column of columns"
       class=" flex flex-col cursor-pointer shadow-sm bg-yellow-50 column-section rounded">
    <div class="flex bg-white border border-gray-300 rounded- justify-between p-2 mb-1">
      <h2 class=" text-gray-800 text-semi-bold">{{ column.title | titlecase }}</h2>
      <mat-icon class="text-2xl" (click)="deleteColumn(boardId, column._id)">delete</mat-icon>
    </div>
    <app-add-new-element-dialog
      (emitText)="addTask($event, column._id)"
      [question]="('ADD NEW TASK' | translate)  + column.title +  ('COLUMN' | translate)">
      <button class=" flex justify-center items-center w-full px-4 py-2
      bg-gray-200 text-black rounded-md mb-1"><mat-icon>library_add</mat-icon></button>
    </app-add-new-element-dialog>
    <div class="p-2 column ">
      <div *ngFor="let task of column.tasks"
           class=" flex flex-col mb-5 cursor-pointer
          bg-white box-1 rounded-lg p-4">
        <div class="flex justify-between items-center">
          <h3 class="m-0">{{ task.title | titlecase }}</h3>
          <div class="flex gap-1 items-center p-2">
          <app-edit-task-body
            (emitText)="editTask(boardId, column._id, task._id, $event.title, $event.description)"
            [question]="('EDIT TASK' | translate)"  [title]="task.title" [description]="task.description" [id]="task._id" >
            <mat-icon class="text-center">edit</mat-icon>
          </app-edit-task-body>
             <mat-icon  color="warn" class="text-center" (click)="deleteTask(boardId, column._id, task._id)">delete</mat-icon>
          </div>
        </div>
          <p class=" text-gray-500 m-0">{{ task.description }}</p>
      </div>
    </div>
  </div>
</div>


